/*html , body {
  height: auto;
  width: 100;
}*/

/*.p1 {
  font-size: 50px;
  color: green;

}
.head{
  font-style: italic;
  font-family: sans-serif;
  font
  font-size: 100px;
}
.mainMenu{
  font-family: sans-serif;
  border-left-style: dotted;
  border-right-style: dotted;
  width=100%;

}
.mainTable{
  border-style: solid;
  border-width: medium;
}
.photogridLeft{
float: left;
width: 300px;
height: 200px;
}*/
